body{
    
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
/*header start*/
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.orange-color{
    color:orange;
}
section{
    display: flex;

}
.half-width{
    width: 50%;
    padding-left: 8%;
}
.half-width img{
    width: 70%;
}
.link-button{
text-decoration: none;
background-color: darkslateblue;
padding: 10px 40px;
color: white;
font-size:20px;
font-weight: 800;
border-radius: 5px;
transition: .5s;
}
.link-button:hover{
background-color: green;
color:ivory
}
/*header end*/
/*top-banner1 start*/
.top-banner1{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;  
    margin-top: 100px; 
    background-position: right;
}
.halfa{
    padding-right: 150px;
}
/*top-banner1 end*/
/*card start*/
.card{
    
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 30px;
}
.experience-area{
    
   
}
.card1{
    display: flex;
}
.developer{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
}
.d1{
    border-left: 10px solid orange;

}
.d2{
    border-left: 10px solid green;

}
.ex{
    font-size:40px;
}

/*card end*/
/*footer start*/
.footer{
    text-align: center;
    color:grey;
    font-size:18px;
    margin-top: 100px;
}
/*footer end*/